---
// src/pages/index.astro
// Página principal completa integrando todos los componentes

import Layout from '../layouts/Layout.astro';
import Preloader from '../components/Preloader.jsx';
import Navigation from '../components/Navigation.jsx';
import HeroImperio from '../components/HeroImperio.jsx';
import Services from '../components/Services.jsx';
import ProjectsGrid from '../components/ProjectsGrid.jsx';
import Footer from '../components/Footer.jsx';
---

<Layout title="El Siglo Español - Arquitectura y Diseño">
  <div class="home-page">
    <Preloader client:load />
    <Navigation />
    <HeroImperio client:load />
    <Services />
    <ProjectsGrid />
    <Footer />
  </div>
</Layout>


